@font-face {
  font-family: 'Amatic SC';
  src: url('/flex-panel-gallery/assets/font/AmaticSC.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: 'Amatic SC';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.panel {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1em;
  color: white;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

.panel-1 {
  background-image: url('/flex-panel-gallery/assets/images/photo-1.png');
}

.panel-2 {
  background-image: url('/flex-panel-gallery/assets/images/photo-2.png');
}

.panel-3 {
  background-image: url('/flex-panel-gallery/assets/images/photo-3.png');
}

.panel-4 {
  background-image: url('/flex-panel-gallery/assets/images/photo-4.png');
}

.panel-5 {
  background-image: url('/flex-panel-gallery/assets/images/photo-5.png');
}

/* Flex Items */
.panel > * {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC';
  font-size: 2em;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 3em;
}
